In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

#### Read raw data

In [2]:
data = pd.read_csv('../data/raw/sp500_prices.csv', index_col='Date')
data.head()

,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WST,WTW,WY,WYNN,XEL,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-06-15,84.072670,83.352501,75.841026,NaN,81.956810,29.411291,185.484039,401.339996,108.362061,34.417336,...,206.887650,176.982254,18.278782,89.813675,54.786343,60.843853,83.321045,118.745766,259.410004,127.973457
2020-06-16,84.536713,85.561523,78.269119,NaN,82.130692,29.687052,189.763962,411.670013,112.193596,35.506500,...,207.984482,179.103897,19.047977,88.359085,54.984760,63.088249,83.703773,122.416588,266.459991,130.795959
2020-06-17,85.000763,85.442444,78.008385,NaN,83.192329,29.202093,190.506683,413.489990,112.047310,35.262535,...,208.745407,184.449951,18.510365,86.592087,55.114147,63.248569,83.157028,119.623764,260.820007,131.323959
2020-06-18,85.281158,85.476463,78.407623,NaN,82.624901,29.049950,188.399216,420.459991,112.303322,35.358379,...,210.128830,183.300354,18.535177,86.269928,55.648987,62.626175,82.127373,119.035332,262.230011,131.909546
2020-06-19,85.783882,84.987991,78.798721,NaN,82.990990,27.889854,187.118027,428.010010,109.898331,35.062126,...,214.022095,176.505585,18.775038,84.727486,55.217670,61.569992,80.423401,117.895767,264.410004,131.909546

#### Data discovery

In [19]:
data.shape

(1255, 503)

In [3]:
data.columns

Index(['A', 'AAPL', 'ABBV', 'ABNB', 'ABT', 'ACGL', 'ACN', 'ADBE', 'ADI', 'ADM',
       ...
       'WST', 'WTW', 'WY', 'WYNN', 'XEL', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZTS'],
      dtype='object', length=503)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1255 entries, 2020-06-15 to 2025-06-11
Columns: 503 entries, A to ZTS
dtypes: float64(503)
memory usage: 4.8+ MB

In [5]:
data.describe()

,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WST,WTW,WY,WYNN,XEL,XYL,YUM,ZBH,ZBRA,ZTS
count,1255.000000,1255.000000,1255.000000,1130.000000,1255.000000,1255.000000,1255.000000,1255.000000,1255.000000,1255.000000,...,1255.000000,1255.000000,1255.000000,1255.000000,1255.000000,1255.000000,1255.000000,1255.000000,1255.000000,1255.000000
mean,128.822223,164.990630,133.487893,139.000297,107.737183,60.871044,294.146041,478.189641,168.886360,61.003722,...,322.892493,235.363640,29.580537,89.788239,60.650120,105.775754,118.780862,122.466495,352.019864,170.406506
std,17.247565,37.778251,35.358252,25.131140,10.748608,24.558360,44.613351,90.175195,32.836758,13.558951,...,61.516832,39.791666,3.343925,17.095365,5.086926,18.617558,16.517718,16.032037,103.651152,18.719332
min,83.047852,83.352501,67.287224,82.489998,79.897591,25.712297,185.484039,275.200012,102.363304,32.944805,...,190.202698,168.976379,17.774254,50.783768,46.260654,58.618320,77.261490,90.480003,197.990005,126.706154
25%,117.746319,138.123734,99.917522,119.912500,100.247616,38.492374,264.966385,414.709991,147.567894,50.596752,...,277.641617,204.363358,27.970574,79.338654,56.892418,92.193817,109.011810,109.796997,275.339996,157.003906
50%,130.172333,162.893448,135.551163,137.165001,106.742012,57.196548,298.250031,479.510010,164.777756,58.892132,...,323.368073,224.853210,29.684765,89.091560,60.498283,106.489586,121.735809,120.403847,313.459991,168.096512
75%,140.252235,188.794724,158.304070,155.069996,113.419827,85.457253,324.859177,535.880005,189.645737,72.194626,...,367.546097,252.528999,31.746989,100.571777,63.965912,122.079319,130.762650,133.489418,405.584991,182.376198
max,174.784485,258.396667,214.676071,216.839996,139.573471,109.220207,396.284912,688.369995,241.663498,90.189819,...,467.231934,339.949860,37.775902,136.672974,72.379997,143.870865,161.736633,167.999115,614.549988,239.098663

In [6]:
data.isna().sum().sum()

np.int64(6222)

In [7]:
data.isna().sum().sort_values(ascending=False).head(15)

SW      1021
GEV      954
SOLV     954
VLTO     832
KVUE     727
GEHC     632
CEG      403
COIN     209
EXE      166
ABNB     125
DASH     124
PLTR      75
ALL        0
VRSK       0
VRSN       0
dtype: int64

#### Drop all columns have NaN value

In [8]:
data_cleaned = data.dropna(axis=1, how='any')

In [9]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1255 entries, 2020-06-15 to 2025-06-11
Columns: 491 entries, A to ZTS
dtypes: float64(491)
memory usage: 4.7+ MB

In [10]:
# check data_cleaned
print("Total NaN value in data_cleaned:", data_cleaned.isna().sum().sum())

Total NaN value in data_cleaned: 0

#### Check index is a unique date string, no duplicates

In [12]:
n_dates = len(data_cleaned.index)
n_dates

1255

In [14]:
n_unique = data_cleaned.index.nunique()
n_unique

1255

In [15]:
print(f"Rows = {n_dates}, Unique dates = {n_unique}")

Rows = 1255, Unique dates = 1255

#### Check date order

In [16]:
is_sorted = data_cleaned.index.is_monotonic_increasing
print("Index is sorted:", is_sorted)

Index is sorted: True

#### Check frequency
Expect approximately 251 trading days per year (not including weekends or holidays)

In [18]:
n_per_year = len(data_cleaned)/5 
print("Average trading days of year:", n_per_year)

Average trading days of year: 251.0

In [21]:
print("Original tickers:", data.shape[1])
print("Clean tickers  :", data_cleaned.shape[1])

Original tickers: 503
Clean tickers  : 491

In [ ]:
data_cleaned.to_csv('../data/processed/sp500_price.csv', index=True)